<nav class="nav-bar">
  <div class="nav-content">
    <a>Anthony Planisek</a>
    <ul class="list">
      <li>About</li>
      <li>Projects</li>
      <li>Contact me</li>
      <li>mode</li>
    </ul>
  </div>
</nav>
<div class="fun-name">
    <div class="letters-container">
        <span *ngFor="let letter of nameLetters; let i=index"
          [style.left.px]="letter.x" [style.top.px]="letter.y"
          (mousedown)="startDrag($event, i)"
          (mouseup)="stopDrag($event, i)"
          (document:mousemove)="onDrag($event)"
          class="draggable"
        >{{ letter.letter }}</span>
    </div>
<div class="developer-text">Web Developer</div>
  </div>

<div class="about-section">
  <div class="about-text">
    <h2>I am a web developer with a passion for taking on new challenges</h2>
    <p>Result-oriented and technologically astute Front-end Software Engineer with time-tested experience in developing and analyzing code, engineering well-researched, cost-effective solutions, and contributing to the complete product development lifecycle of successfully launched applications. Demonstrated expertise in developing program roadmaps, setting quality expectations, and achieving mission performance through best practices, efficient leadership, and productivity.</p>
  </div>
  <div class="about-image">
    <img src="../../assets/unnamed.jpg" alt="picture" style="width:250px;height:275px;">
  </div>
</div>

<div class="projects-section">
  <h2>Projects</h2>
  <div class="project-previews">
    <div>
      <img src="../../assets/select-icon.png" alt="picture" style="width:250px;height:275px;">
    </div>
    <div>
      <img src="../../assets/select-icon.png" alt="picture" style="width:250px;height:275px;">
    </div>
    <div>
      <img src="../../assets/select-icon.png" alt="picture" style="width:250px;height:275px;">
    </div>
    <div>
      <img src="../../assets/select-icon.png" alt="picture" style="width:250px;height:275px;">
    </div>
  </div>
</div>
