<nav class="nav-bar">
  <div class="nav-content">
    <a>Anthony Planisek</a>
    <ul class="list">
      <li>About</li>
      <li>Projects</li>
      <li>Contact me</li>
      <li>mode</li>
    </ul>
  </div>
</nav>
<div class="fun-name">
    <div class="letters-container">
        <span *ngFor="let letter of nameLetters; let i=index"
          [style.left.px]="letter.x" [style.top.px]="letter.y"
          (mousedown)="startDrag($event, i)"
          (mouseup)="stopDrag($event, i)"
          (document:mousemove)="onDrag($event)"
          class="draggable"
        >{{ letter.letter }}</span>
      </div>
<div class="developer-text">Web Developer</div>
<div>
  <h2>Title</h2>
  <p>description about me</p>
</div>
<div>
  <h2>Title</h2>
  <p>divs with projects</p>
</div>
<div>
  <h2>Title</h2>
  <p>contact box</p>
</div>
</div>